{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row">
        <!-- Shopping Cart Items -->
        <div class="col-10 col-md-7">
            <h1 class="mb-5">Votre panier</h1>

            <!-- Cart Item 1 -->
            {% if (isEmpty == false) %}
                {% for item in data %}
                <div class="cart-item d-flex justify-content-between bg-color-cart p-3 rounded mb-4">
                    <div class="d-flex">
                        <img src="/uploads/{{item.video.image}}" alt="Product" class="product-img me-3">
                        <div>
                            <h3 class="h5">{{item.video.name}}</h3>
                            <p class="text-muted">{{item.video.subtitle}}</p>
                            <span class="badge badge-pill badge-primary p-2">{{item.video.category}}</span>
                        </div>
                    </div>
                    <div class="d-flex flex-column justify-content-between">
                        <span>{{item.video.price}} €</span>
                        {# on transmet à la route l'id de l'item en question #}
                        <a href="{{path('app_delete_panier', {id:item.video.id})}}" class="btn btn-sm btn-danger">Supprimer</a>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <p>Votre panier est vide pour le moment</p>
            {% endif %}
        </div>

        <!-- Cart Summary -->
        <div id="recap-cart" class="col-10 col-md-4 offset-md-1 bg-color-cart p-3 rounded my-5">
            <div class="cart-summary">
                <h2 class="h4 mb-4 text-center">Récapitulatif du panier</h2>
                <ul class="list-unstyled">
                    {# <li class="d-flex justify-content-between my-2">
                        <span>Hors-taxes:</span>
                        <span>45.98€</span>
                    </li>
                    <li class="d-flex justify-content-between  my-2">
                        <span>TVA:</span>
                        <span>5.00€</span>
                    </li> #}
                    <li class="d-flex justify-content-between  my-2">
                        <span class="total-price">Total:</span>
                        <span class="total-price">{{total}} €</span>
                    </li>
                </ul>
                {% if (isEmpty == false) %}
                    <a href="{{path('app_payment')}}" class="btn btn-success w-100 mt-3">Valider le panier</a>
                {% else %}
                    <a href="{{path('app_payment')}}" class="btn btn-success w-100 mt-3 disabled">Valider le panier</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<script src="{{ asset('/js/panier.js') }}"></script>
{% endblock %}
