{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row">
        <!-- Shopping Cart Items -->
        <div class="col-10 col-md-7">
            <h1>Mon panier</h1>
            <hr class="mb-5">
            <!-- Cart Item 1 -->
            {% if (isEmpty == false) %}
            {# videos #}
                {% for item in data %}
                <div class="cart-item d-flex justify-content-between bg-color-cart p-3 rounded mb-4">
                    <div class="d-flex">
                        <img src="/uploads/{{item.video.image}}" alt="Product" class="product-img me-3">
                        <div>
                            <h3 class="h5">{{item.video.name}}</h3>
                            <p class="text-muted">{{item.video.subtitle}}</p>
                            <span class="badge badge-pill badge-primary fs-6 p-2">Vidéo à la demande</span>
                        </div>
                    </div>
                    <div class="d-flex flex-column justify-content-between">
                        <span>{{item.video.videoTTC|price}}</span>
                        {# on transmet à la route l'id de l'item en question #}
                        <a href="{{path('app_delete_panier', {id:item.video.id})}}" class="btn btn-sm btn-danger">Supprimer</a>
                    </div>
                </div>
                {% endfor %}
                {# tickets #}
                {% for item in dataEventNoFood %}
                <div class="cart-item d-flex justify-content-between bg-color-cart p-3 rounded mb-4">
                    <div class="d-flex">
                        <img src="/uploads/{{item.panierReservationNoFood.image}}" alt="Product" class="product-img me-3">
                        <div>
                            <h3 class="h5">{{item.panierReservationNoFood.name}}</h3>
                            <p class="text-muted">{{item.panierReservationNoFood.subtitle}}</p>
                            <p class="badge badge-pill badge-primary fs-6 p-2">Formule Pass'Evènement | {{item.quantity}} tickets</p>
                        </div>
                    </div>
                    <div class="d-flex flex-column justify-content-between">
                        <span>{{totalPriceEventNoFood|price}}</span>
                        <a href="{{path('app_event_reservation', {id:item.panierReservationNoFood.id})}}" class="btn btn-sm btn-danger">Modifier la formule</a>
                    </div>
                </div>
                {% endfor %}
                {% for item in dataEventWithFood %}
                <div class="cart-item d-flex justify-content-between bg-color-cart p-3 rounded mb-4">
                    <div class="d-flex">
                        <img src="/uploads/{{item.panierReservationWithFood.image}}" alt="Product" class="product-img me-3">
                        <div>
                            <h3 class="h5">{{item.panierReservationWithFood.name}}</h3>
                            <p class="text-muted">{{item.panierReservationWithFood.subtitle}}</p>
                            <p class="badge badge-pill badge-primary fs-6 p-2">Formule Pass'Evènement + Repas | {{item.quantity}} tickets</p>
                        </div>
                    </div>
                    <div class="d-flex flex-column justify-content-between">
                        <span>{{totalPriceEventWithFood|price}}</span>
                        <a href="{{path('app_event_reservation', {id:item.panierReservationWithFood.id})}}" class="btn btn-sm btn-danger">Modifier la formule</a>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <p>Votre panier est vide pour le moment</p>
            {% endif %}
        </div>

        <!-- Cart Summary -->
        <div id="recap-cart" class="col-10 col-md-4 offset-md-1 bg-color-cart p-3 rounded my-5">
            <div class="cart-summary">
                <h2 class="h4 mb-4 text-center mb-5">Récapitulatif du panier</h2>
                <ul class="list-unstyled">
                    <li class="d-flex justify-content-between  my-2">
                        <span class="total-price">Total HT :</span>
                        <span class="total-price">{{totalHT|price}}</span>
                    </li>
                    <hr class="my-4">
                    <li class="d-flex justify-content-between  my-2">
                        <span class="total-price">Total TVA :</span>
                        <span class="total-price">{{totalTVA|price}}</span>
                    </li>
                    <hr class="my-4">
                    <li class="d-flex justify-content-between  my-2">
                        <strong class="total-price">Total TTC :</strong>
                        <strong class="total-price">{{totalTTC|price}}</strong>
                    </li>
                </ul>
                {% if (isEmpty == false) %}
                    <a href="{{path('app_order')}}" class="btn btn-success w-100 mt-5">Valider le panier</a>
                    {# <a href="{{path('app_empty_panier')}}" class="btn btn-danger w-100 btn-sm mt-4">Vider le panier</a> #}
                {% else %}
                    <a href="{{path('app_order')}}" class="btn btn-success w-100 mt-3 disabled">Valider le panier</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<script src="{{ asset('/js/panier.js') }}"></script>
{% endblock %}
