{% extends 'base.html.twig' %}

{% block title %}Evènements{% endblock %}

{% block body %}
<div class="album py-5">
        <div class="container">
            <h1 class="h3">Tous les évènements</h1>
            <hr>
            <p>Cette page contient {{events|length}} résultats.</p>
            <div class="row g-3 justify-content-center">
                {% for event in events %}
                <div class="card col-11 col-md-3 mb-3 mx-3" style="width: 18rem;">
                    <img src="/uploads/{{event.image}}" class="card-img-top" alt="...">
                    <div class="my-3 text-start">
                        <span class="badge rounded-pill text-bg-danger ms-3 px-3">Evènement</span>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">{{event.name}}</h4>
                        <hr>
                        <h5>{{event.subtitle}}</h5>                           
                    </div>
                    <a href="{{ path('app_event_details', { 'id' : event.id }) }}" class="btn btn-success">Découvrir l'évènement</a>
                    {# afficher le bouton uniquement pour les administrateurs #}
                    {% if app.user and "ROLE_ADMIN" in app.user.roles %}
                    <a href="{{ ea_url()
                                .setController('App\\Controller\\Admin\\EventCrudController')
                                .setAction('edit')
                                .setEntityId(event.id)
                            }}"
                    class="btn btn-warning mt-3"><span class="me-2 fa fa-edit"></span>Editer</a>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
