{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light">Album example</h1>
                    <p class="lead text-body-secondary">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
                    <p>
                    <button type="button" class="btn btn-danger">Danger</button>
                    <a href="#" class="btn btn-primary my-2">Main call to action</a>
                    <a href="#" class="btn btn-secondary my-2">Secondary action</a>
                    </p>
                </div>
            </div>
        </section>
        <div class="album py-5 bg-body-tertiary">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {# debuggage #}
                {# <pre>
                    {{ dump(article) }}
                </pre> #}

                    {# on va boucler les cards pour les générer dynamiquement en fonction de la BDD #}
                    {# pour chaque articleElement parmis les articles (passés en paramètres du controller) #}
                    {% for articleElement in article %}
                    <div class="card" style="width: 18rem;">
                        <img src="/uploads/{{articleElement.image}}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h4 class="card-title">{{articleElement.title}}</h4>
                            <hr>
                            <h5>{{articleElement.subtitle}}</h5>
                            <p class="card-text">{{articleElement.textContent}}</p>
                            <a href="#" class="btn btn-primary">Découvrir l'article</a>
                            {# afficher le bouton uniquement pour les administrateurs #}
                            {% if app.user and "ROLE_ADMIN" in app.user.roles %}
                            <a href="#" class="btn btn-warning">Editer</a>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
{% endblock %}
