{% extends '@!EasyAdmin/layout.html.twig' %}
{% block main %}
    <div class="d-flex justify-content-between">
        <small>
            <a href="{{path('admin_event_index')}}" class="nav-link mb-3"><img src="{{ asset('/img/back-icon.png')}}" class="me-2" width="22px" height="22px" alt="">Retour</a>
        </small>
        <small>
            <a target="_blank" href="{{path('app_event_list_admin', {"event_id":event.id})}}" class="nav-link mb-3"><img src="{{ asset('/img/down-icon.png')}}" class="me-2 mb-1" width="22px" height="22px" alt="">Télécharger la liste</a>
        </small>
    </div>
    <h1>Liste des participants de l'évènement : {{event.name}}</h1>
    <div class="d-flex justify-content-between my-5">
        <h2 class="h5">Evènement prévu le : {{event.eventDate|format_datetime(locale: 'fr')}}</h2>
        <h3 class="h5">Fin des réservations prévu le : {{event.reservationDateEnd|format_datetime(locale: 'fr')}}</h3>
    </div>
    <hr>
    {# {{dump(statsEvent)}} #}
    <ul class="d-flex justify-content-between">
        <li class="mb-3">Le nombre total de formules Pass'Event est : {{statsEvent[0].NoFoodStats}}</li>
        <li class="mb-3">Le nombre total de formules Pass'Event + Repas est : {{statsEvent[0].WithFoodStats}}</li>
        <li class="mb-3">Le nombre total d'inscrit à l'évènement est : {{statsEvent[0].playCount}}</li>
    </ul>
    <hr>
    <div class="col-12">
        <table class="table mt-2">
         <thead>
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Prénom</th>
                    <th scope="col">Email</th>
                    <th scope="col">Date d'achat</th>
                    <th scope="col">Numéro Commande</th>
                    <th scope="col">Pass'Event</th>
                    <th scope="col">Pass'Event + Repas</th>
                    <th scope="col">Total</th>
                </tr>
            </thead>
            <tbody>
                {% for infos in reservations %}
                    <tr>
                        <td>{{infos.LastName}}</td>
                        <td>{{infos.firstName}}</td>
                        <td>{{infos.email}}</td>
                        <td>{{infos.boughtDate|format_datetime(locale: 'fr')}}</td>
                        <td class="text-center">{{infos.orderId}}</td>
                        <td class="text-center">{{infos.numberOfTicketsNoFood}}</td>
                        <td class="text-center">{{infos.numberOfTicketsWithFood}}</td>
                        <td class="text-center">{{infos.numberOfTickets}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}