{% extends 'base.html.twig' %}

{% block title %}{{video.name}}{% endblock %}

{% block body %}
<div class="mt-5 d-flex flex-column align-items-center">
    <img class="col-11 col-md-4 my-3" src="/uploads/{{video.image}}" alt="">
    <div class="row justify-content-center">
        <div class="col- 11 col-md-6 d-flex flex-column">
            <h2 class="mb-3">{{video.name}}</h2>
            <h3 class="mb-3">{{video.subtitle}}</h3>
            <p class="mb-4">{{video.description}}</p>
        </div>
        <div class="col-11 col-md-3 offset-md-2 d-flex flex-column justify-content-center">
            <h3 class="mb-3">Informations :</h3>
            <p class="mb-3">Durée de la vidéo : {{video.length}}</p>
            <p class="mb-3">Langue : {{video.language}}</p>
            <p class="mb-4">Catégorie : {{video.category}}</p>
            <p class="mb-4">Date de mise en ligne : {{video.uploadedDate|date('d-m-Y')}}</p>
        </div>
        <hr class="my-5">
        <div class="col-md-10 d-flex justify-content-center">
            <div id="video-container">
                {# <iframe width="560" height="315" src="{{video.link | replace({'watch':'embed','?v=':'/'}) }}?rel=0&modestbranding=0"></iframe> #}
                {# <iframe src="{{video.link}}&info=0&logo=0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen frameborder="0" width="640" height="360"></iframe> #}
                <div id="bloc-video"></div>
                <iframe src="https://drive.google.com/file/d/1HnOkJVXdrYGbxxRpbJ19eYg7lwGmTHV1/preview" allow="autoplay"></iframe>
                <button id="fs-mode">Bascule : Plein écran / Petit écran</button>
            </div>
        </div>
    </div>
</div>
<script src="{{ asset('/js/videoFullScreen.js') }}"></script>
{% endblock %}
