<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{ asset('/styles/bootstrap.css') }}" rel="stylesheet">
        <link href="{{ asset('/styles/app.css') }}" rel="stylesheet">
        <script src="https://kit.fontawesome.com/2882818d20.js" crossorigin="anonymous"></script>
    </head>
    <body> 
        <header data-bs-theme="dark">
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid col-10">
                    <a class="navbar-brand" href="{{ path('app_home') }}">VOD Project</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="{{ path('app_home') }}">Accueil</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Catégories
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="{{ path('app_all_articles') }}">Articles</a></li>
                                    <li><a class="dropdown-item" href="{{ path('app_all_videos') }}">Vidéos</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Qui sommes-nous</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Contact</a>
                            </li>
                            {% if app.user and "ROLE_ADMIN" in app.user.roles %}
                                <li class="nav-item">
                                    <a class="nav-link admin-link" href="{{ path('admin') }}">Espace Administratif</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <div class="col-2 d-flex flex-column align-items-end pe-5">
                    {% if app.user %}
                        <p>Bonjour {{ app.user.firstName }} !</p>
                        <a href="{{ path('app_user_account') }}"><img src="{{ asset('/img/account-icon.png') }}" class="icon-perso me-2">Mon compte</a>
                    {% else %}
                        <a href="{{ path('app_login') }}">Connexion</a>
                        <a href="{{ path('app_sign_in') }}">Inscription</a>
                    {% endif %}
                </div>
            </nav>
             {# ---------------------- #}
            {# <h1>
            Bonjour {% if app.user and app.user.firstName %}
            {{app.user.firstName }}
            {% endif %}
            </h1> #}
        </header>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        <main>
        {% block body %}
        
        {% endblock %}
        </main>

        <footer class="py-5">
            <p>Footer : Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem eum aperiam modi temporibus, eaque iusto eos porro fugit unde cum obcaecati itaque, culpa eveniet dolorem id sit autem! Minus, quas?</p>
        </footer>
        <script src="{{ asset('/js/bootstrap.bundle.js') }}"></script>
        <script src="{{ asset('/js/app.js') }}"></script>
    </body>
</html>
