<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}

        <script src="{{ asset('assets/js/color-modes.js') }}"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{ asset('/styles/bootstrap.css') }}" rel="stylesheet">
        <link href="{{ asset('/styles/app.css') }}" rel="stylesheet">
        <meta name="theme-color" content="#712cf9">
    </head>
    <body> 
        <header data-bs-theme="dark">
            <h1>
            Bonjour {% if app.user and app.user.firstName %}
            {{app.user.firstName }}
            {% endif %}
            </h1>
        </header>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        <main>
        {% block body %}
        
        {% endblock %}
        </main>

        <footer class="text-body-secondary py-5">
        <div class="container">
            <p class="float-end mb-1">
            <a href="#">Back to top</a>
            </p>
            <p class="mb-1">Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
            <p class="mb-0">New to Bootstrap? <a href="/">Visit the homepage</a> or read our <a href="/docs/5.3/getting-started/introduction/">getting started guide</a>.</p>
        </div>
        </footer>
        <script src="{{ asset('/js/bootstrap.bundle.js') }}"></script>
        <script src="{{ asset('/js/app.js') }}"></script>
    </body>
</html>
