<h1 class="h4 ms-3 mt-2">Espace Membre :</h1>
<ul class="nav flex-column ms-3 mt-2">
    <li class="nav-item">
        <a href="{{path('app_panier')}}" class="nav-link">Mon Panier</a>
    </li>
    <li class="nav-item">
        <a href="{{ path('app_user_account') }}" class="nav-link">Mes Informations</a>
    </li>
    <li class="nav-item">
        <a href="{{ path('app_user_account_addresses') }}" class="nav-link">Mes Adresses de Facturation</a>
    </li>
    <li class="nav-item">
        <a href="{{ path('app_user_account_catalog') }}" class="nav-link">Mon Catalogue</a>
    </li>
    <li class="nav-item">
        <a href="{{ path('app_user_account_reservations') }}" class="nav-link">Mes Evènements</a>
    </li>
    <li class="nav-item">
        <a href="{{ path('app_user_account_invoices') }}" class="nav-link">Mes Commandes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_logout') }}">Se Déconnecter</a>
    </li>
</ul>