<h1 class="h4 ms-3 mt-2">Espace Membre :</h1>
<ul class="nav flex-column ms-3 mt-2">
    <li class="nav-item">
        <a href="{{path('app_panier')}}" class="nav-link"><i class="bi bi-cart4 me-3"></i> Mon Panier</a>
    </li>
    <li class="nav-item">
        <a href="{{ path('app_user_account') }}" class="nav-link"><i class="bi bi-info-circle me-3"></i> Mes Informations</a>
    </li>
    <li class="nav-item">
        <a href="{{ path('app_user_account_addresses') }}" class="nav-link"><i class="bi bi-geo-alt me-3"></i> Mes Adresses de Facturation</a>
    </li>
    <li class="nav-item">
        <a href="{{ path('app_user_account_catalog') }}" class="nav-link"><i class="bi bi-play-btn me-3"></i> Mon Catalogue</a>
    </li>
    <li class="nav-item">
        <a href="{{ path('app_user_account_reservations') }}" class="nav-link"><i class="bi bi-calendar2-event me-3"></i> Mes Evènements</a>
    </li>
    <li class="nav-item">
        <a href="{{ path('app_user_account_invoices') }}" class="nav-link"><i class="bi bi-receipt me-3"></i> Mes Commandes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_logout') }}"><i class="bi bi-box-arrow-left me-3"></i> Se Déconnecter</a>
    </li>
</ul>