{% extends 'base.html.twig' %}

{% block title %}Mes Réservations{% endblock %}

{% block body %}
<div class="row mt-4">
    <div class="col-md-2">
        {% include 'user_account/_menu.html.twig' %}
    </div>
    <div class="col-md-8">
        <h1 class="mb-4">Mes Réservations</h1>
        <hr>
        <div class="album py-5">
            <div class="container">
                <div class="row g-3 justify-content-center">
                    {% if eventOrders|length == 0 %}
                    <p>Vous n'avez pas encore de réservations pour vos évènements.</p>
                    <hr>
                    {% else %}
                        <p>Vous avez actuellement {{(eventOrders|length)}} réservations pour vos évènements.</p>
                        {# {{dump(reservations)}} #}
                            {% for key, eventElement in eventDetails %}
                                <div class="card col-11 col-md-3 mb-3 mx-3 mt-5">
                                    <img src="/uploads/{{eventElement.image}}" class="card-img-top" alt="...">
                                        <div class="my-3 text-start">
                                        <span class="badge rounded-pill text-bg-warning ms-3 px-3">Evènement</span>
                                    </div>
                                    <div class="card-body">
                                        <h4 class="card-title">{{eventElement.name}}</h4>
                                        <hr>
                                        <h5>{{eventElement.subtitle}}</h5>
                                        <hr>
                                        <strong>Prévu le : {{eventElement.eventDate|format_datetime(locale: 'fr')}}</strong>
                                        <hr>
                                        <p>
                                            Ticket(s) acheté(s) le :<br>
                                            {{eventOrders[key].createdAT|format_datetime(locale: 'fr')}}
                                        </p>
                                        <p>
                                            Nombre de ticket(s) :<br>
                                            {# {{dump(reservations[key])}} #}
                                            {{reservations[key].numberOfTickets}}
                                        </p>
                                        <p>
                                            Numéro de commande : <br>
                                            {{reservations[key].orderId}}
                                        </p>                             
                                    </div>
                                    {# {{dump(eventOrders|length)}} #}
                                        <a target="_blank" href="{{path('app_invoice_client', {"id_order":eventOrders[key].id })}}" class="btn btn-success">Télécharger le(s) ticket(s)</a>
                                </div>
                        {% endfor %}                           
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
