{% extends 'base.html.twig' %}

{% block title %}Mes Commandes{% endblock %}

{% block body %}
<div class="row mt-4">
        <div class="col-md-2">
            {% include 'user_account/_menu.html.twig' %}
        </div>
        <div class="col-md-8">
            <h1>Mes Commandes</h1>
            {% if orders|length ==0 %}
                <p>Vous n'avez pas encore de commande(s).</p>
            <hr>
            {% else %}
                <p>Vous avez {{orders|length}} commande(s).</p>
            <hr>
            <table class="table table-dark">
                <thead>
                    <tr class="table-secondary">
                        <th scope="col">N°</th>
                        <th scope="col">Date</th>
                        <th scope="col">Statut</th>
                        <th scope="col">Total TTC</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                    <tr>
                        <td>{{order.id}}</td>
                        <td>{{order.createdAt|date('d/m/Y')}}</td>
                        <td>{{include('admin/status.html.twig', {field : {'value':order.status} } ) }}</td>
                        <td>{{order.totalTTC|price}}</td>
                        <td class='text-end'>
                            <a href="{{path('app_user_account_invoice_id', {'id_order' : order.id} ) }}" class="btn btn-primary me-2">Détails</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
{% endblock %}