{% extends 'base.html.twig' %}

{% block title %}Mes Réservations{% endblock %}

{% block body %}
<div class="row mt-4">
    <div class="col-md-2">
        {% include 'user_account/_menu.html.twig' %}
    </div>
    <div class="col-md-8">
        <h1 class="mb-4">Mes Réservations</h1>
        <hr>
        <div class="album py-5">
            <div class="container">
                <div class="row g-3 justify-content-center">
                    {% if reservations|length == 0 %}
                    <p>Vous n'avez pas encore d'évènement(s).</p>
                    <hr>
                    {% else %}
                        <p>Vous avez {{(ordersReIndexed|length)+1}} évènement(s).</p>
                        {% for key, event in eventsObject %}
                            {% for eventElement in event %}
                                <div class="card col-11 col-md-3 mb-3 mx-3 mt-5" style="width: 18rem;">
                                    <img src="/uploads/{{eventElement.image}}" class="card-img-top" alt="...">
                                        <div class="my-3 text-start">
                                        <span class="badge rounded-pill text-bg-warning ms-3 px-3">Vidéo</span>
                                    </div>
                                    <div class="card-body">
                                        <h4 class="card-title">{{eventElement.name}}</h4>
                                        <hr>
                                        <h5>{{eventElement.subtitle}}</h5>
                                        <hr>
                                        <strong>Prévu le : {{eventElement.eventDate|format_datetime(locale: 'fr')}}</strong>                          
                                    </div>
                                    {% for orderElement in ordersReIndexed %}
                                        <a target="_blank" href="{{path('app_invoice_client', {"id_order":orderElement[key] })}}" class="btn btn-success">Télécharger le(s) ticket(s)</a>
                                    {% endfor %}
                                </div>
                            {% endfor %}                           
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
