{% extends 'base.html.twig' %}

{% block title %}Mon Catalogue{% endblock %}

{% block body %}
<div class="row mt-4">
    <div class="col-md-2">
        {% include 'user_account/_menu.html.twig' %}
    </div>
    <div class="col-md-8">
        <h1 class="mb-4">Mon Catalogue</h1>
        <hr>
        <div class="album py-5">
            <div class="container">
                <div class="row g-3 justify-content-center">
                    {# {{dump(videosObject)}} #}
                    {% if catalogs|length == 0 %}
                    <p>Vous n'avez pas encore de vidéo(s) dans votre catalogue.</p>
                    <hr>
                    {% else %}
                        <p>Vous avez {{catalogs|length}} vidéo(s) dans votre catalogue.</p>
                        {% for key, video in videosObject %}
                            {% for videoElement in video %}
                            {# {{dump(videoElement)}} #}
                                <div class="card col-11 col-md-3 mb-3 mx-3 mt-5" style="width: 18rem;">
                                    <img src="/uploads/{{videoElement.image}}" class="card-img-top" alt="...">
                                        <div class="my-3 text-start">
                                        <span class="badge rounded-pill text-bg-warning ms-3 px-3">Vidéo</span>
                                    </div>
                                    <div class="card-body">
                                        <h4 class="card-title">{{videoElement.name}}</h4>
                                        <hr>
                                        <h5>{{videoElement.subtitle}}</h5>                           
                                    </div>
                                    <a href="{{ path('app_paid_video_details', { 'id' : videoElement.id }) }}" class="btn btn-success">Voir la vidéo</a>
                                </div>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
