{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}
    <div class="album py-5 bg-body-tertiary">
        <div class="container">
            <div class="row g-3 justify-content-center">
                {% for articleElement in article %}
                <div class="card col-11 col-md-3 mb-3 mx-3" style="width: 18rem;">
                    <img src="/uploads/{{articleElement.image}}" class="card-img-top" alt="...">
                    <div class="my-3 text-start">
                        <span class="badge rounded-pill text-bg-info ms-3 px-3">Article</span>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">{{articleElement.title}}</h4>
                        <hr>
                        <h5>{{articleElement.subtitle}}</h5>                           
                    </div>
                    <a href="{{ path('app_article_details', { 'slug' : articleElement.slug }) }}" class="btn btn-primary">Lire l'article</a>
                    {# afficher le bouton uniquement pour les administrateurs #}
                    {% if app.user and "ROLE_ADMIN" in app.user.roles %}
                    <a href="{{ ea_url()
                                .setController('App\\Controller\\Admin\\ArticleCrudController')
                                .setAction('edit')
                                .setEntityId(articleElement.id)
                            }}"
                    class="btn btn-warning mt-3"><span class="me-2 fa fa-edit"></span>Editer</a>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
