{% extends 'base.html.twig' %}

{% block title %}{{article.title}}{% endblock %}

{% block body %}
<div class="mt-5 container d-flex flex-column align-items-center"> 
    <div class="row w-100">
        <div class="col-11 text-center">
            <h1 class="mb-5">{{article.title}}</h1>
            <h3 class="my-5">{{article.subtitle}}</h3>
        </div>
        <hr>
        <div class="row justify-content-around">
            <div class="col-11 col-md-6 my-5">
                <img class="my-3" src="/uploads/{{article.image}}" alt="">  
            </div>
        </div>
        <hr>
        <div class="col-10 my-5">
        <h3>Description :</h3>
            <p class="mb-4 product-description">{{article.textContent|raw}}</p>
        </div>
    </div>
</div>
{% endblock %}
